$bg-green: #323B36;
$accent: rgba(101, 193, 120, 1);
$paragraph-color: rgba(64, 64, 64, .9);
$paragraph-soft: rgba(64, 64, 64, .72);
$paragraph-ultra-soft: rgba(64, 64, 64, 0.52);

$title-green: #404040;
$white-high: rgba(255, 255, 255, .94);
$white-md: rgba(255, 255, 255, .86);
$white-low: rgba(255, 255, 255, .82);

$card-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

.centered {
	text-align: center;
}
.no-padding-left {
	padding-left: 0;
}