.features	{
	overflow: hidden;
	.section-title {
		font-size: 3em;
		margin-bottom: 1em;
	}
	.ticket-types {
		@include main-font(300);
		font-size: 1.2em;
		list-style: none;
		margin-left: 20%;
		li {
			padding-bottom: 0.6em;
		}
	}
	.vertical-break {
		width: 0px;
		height: 250px;
		background: none;
		border: 1px solid $paragraph-ultra-soft;
		right: 40px;
		top: 20px;
		position: absolute;
	}
	.features-description {
		padding-top: 1em;
	}
}
.follow-us {
	font-size: 1.6em;
	margin-top: 2em;
	margin-bottom: 1em;
	color: $paragraph-soft;
}
.social-icons {
	opacity: .92;
	li {
		display: inline-block;
		a {
			color: $paragraph-color;
		}
	}
	span {
		font-size: 1.6em;
		padding: 0.5em;
	}
}
.images {
	text-align: center;
	margin-top: 5%;
	.full-size img {
		width: auto;
		max-height: 480px;
	}
	.preview-size {
		list-style: none;
		.preview-image {
			padding: 0 1.6em 1.6em;
			cursor: pointer;
		}
		.preview-image.selected:after {
			content: '';
			width: 50%;
			height: 1px;
			border: thin solid $paragraph-soft;
			display: block;
			margin: 0.6em auto 0;
		}
		img {
			width: auto;
			max-height: 220px;
		}
	}
}