$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "app/styles/_helpers.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}
.row {
	padding: 0 5%;
}
.main-title {
	color: $bg-green;
	font-size: 6em;
}
.hero {
  background: $bg-green;
  color: $white-high;
  padding: 3em 5%;
  margin-bottom: 2em;
	margin-top: 5%;
	margin-bottom: 5%;
}
.btn-download {
	position: relative;
	background: $accent;
	border-radius: 5px;
	color: $white-high;
	padding: 0 1em;
	margin-top: 2em;
	font-size: 0.75em;
	width: 16em;
	height: 5em;
	&:hover {
		color: $white-high;
	}
	.btn-label,
	.brand-icon,
	.brand {
		position: absolute;
	}
	.btn-label {
		top: 0.5em;
		left: 6em;
	}
	.brand-icon {
		top: 0.10em;
		left: 0.5em;
		font-size: 4rem;
	}
	.brand {
		top: 0.25em;
		left: 0.25em;
		font-size: 2.5rem;
	}
}
.steps {
	background-image: url('../images/process-image.png');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 716px;
	margin-top: 10%;
}
