$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "app/styles/_helpers.scss";
@import "app/styles/_typography.scss";
@import "app/styles/_phone.scss";
@import "app/styles/device-mockups/_device-mockups.scss";
@import "app/styles/device-mockups/_device-mockups2.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
	background-color: #FAFAFA;
	@include main-font;
	font-size: 18px;
	color: $paragraph-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
	color: $paragraph-color;
	letter-spacing: 0.05em;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1100px) {
  .device-mockup > .device {
		top: -40px !important;
	}
}
@media screen and (min-width: 1200px) {
  .device-mockup > .device {
		top: -140px !important;
	}
}
@media screen and (min-width: 768px) {
	.hero-buttons {
		text-align: left;
	}
}
.row {
	padding: 0 5%;
}
.row .row {
	padding: 0;
}
.main-title {
	color: $title-green;
	font-size: 5em;
}
.hero {
  background: $bg-green;
  padding: 1em 5%;
  margin-top: 2em;
  margin-bottom: 2em;
	h2 {
		@include main-font(300);
		font-size: 3em;
		line-height: 1em;
  	margin-bottom: 0.75em;
		color: $white-low;  
	}
	p {
		color: $white-md;
	}
}

.btn-download {
	@include main-font(300);
	position: relative;
	background: $accent;
	border-radius: 5px;
	color: $white-high;
	padding: 0 1em;
	margin: 2em 0;
	font-size: 0.75em;
	width: 216px;
	height: 68px;
	transition: 0s background-color;
	&:hover {
		color: $white-high;
		background: #65A778;
		-webkit-transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition:         all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	.btn-label,
	.brand-icon,
	.brand {
		position: absolute;
	}
	.btn-label {
		top: 6px;
		left: 6em;
	}
	.brand-icon {
		top: 8px;
		left: 20px;
		font-size: 4.5rem;
	}
	.brand {
		top: 8px;
		left: -12px;
		font-size: 3.6rem;
	}
}
.ios {
	background: transparent;
	opacity: 0.6;
	border-color: $white-md;
	.brand {
		left: 0;
	}
}
.steps {
	background-image: url('../images/process-image.png');
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height: 716px;
	margin-top: 10%;
}
