/*
 *	HTML5 Device Mockups
 *
 *	By:
 *		Tomi Hiltunen
 *		tomi@mitakuuluu.fi
 *		http://fi.linkedin.com/in/tomihiltunen/
 *		
 *		Angelos Arnis
 *		http://fi.linkedin.com/in/angelosarnis/
 *
 *	Inluded in this package:
 *		- iPhone5 (black/white, portrait/landscape)
 *		- iPad2 (black/white, portrait/landscape)
 *		- iMac
 *		- MacBook Pro (retina model)
 *		- Nexus 7
 *		- Lumia 920
 *		- Microsoft Surface
 *		- Galaxy S3
 */

 /* GENERAL STYLE */

.device-mockup {
	position: absolute;
	width: 100%;
	padding-bottom: 61.775701%;
}

	.device-mockup > .device {
		position: absolute;
		top: 0; bottom: 0; left: auto; right: 80px;
		width: 60%; height: 60%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url("device-mockups/macbook/macbook.png");
	}

		.device-mockup > .device > .screen {
			position: absolute;
			top:    11.0438729%;
			bottom: 14.6747352%;
			left:   13.364486%;
			right:  13.364486%;
			overflow: hidden;
		}

		.device-mockup > .device > .button {
			position: absolute;
			top: 0; left: 0;
			display: none;
			overflow: hidden;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			cursor: pointer;
		}
                


/* Galaxy S3 */
.device-mockup[data-device="s3"],
.device-mockup[data-device="s3"][data-orientation="portrait"] {
	padding-bottom: 178.787879%;
}

.device-mockup[data-device="s3"][data-orientation="landscape"] {
	padding-bottom: 55.9322034%;
}

.device-mockup[data-device="s3"] > .device,
.device-mockup[data-device="s3"][data-color="black"] > .device,
.device-mockup[data-device="s3"][data-orientation="portrait"][data-color="black"] > .device {
	background-image: url("device-mockups/galaxy_s3/s3_port_black.png");
}

.device-mockup[data-device="s3"][data-orientation="landscape"] > .device,
.device-mockup[data-device="s3"][data-orientation="landscape"][data-color="black"] > .device {
	background-image: url("device-mockups/galaxy_s3/s3_land_black.png");
}

.device-mockup[data-device="s3"][data-color="white"] > .device,
.device-mockup[data-device="s3"][data-orientation="portrait"][data-color="white"] > .device {
	background-image: url("/images/galaxy_s3/s3_port_white.png");
}

.device-mockup[data-device="s3"][data-orientation="landscape"][data-color="white"] > .device {
	background-image: url("device-mockups/galaxy_s3/s3_land_white.png");
}

.device-mockup[data-device="s3"] > .device > .screen,
.device-mockup[data-device="s3"][data-orientation="portrait"] > .device > .screen {
	top: 12.3728814%; bottom: 15.5367232%; left: 13.8383838%; right: 13.8383838%;
}

.device-mockup[data-device="s3"][data-orientation="landscape"] > .device > .screen {
	top: 13.8383838%; bottom: 13.8383838%; left: 12.3728814%; right: 15.5367232%;
}
